@import 'tailwindcss';

@config "../tailwind.config.ts";

body {
  @apply bg-background;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  font-synthesis: none;
  font-variation-settings: normal;
}
::-webkit-scrollbar {
  display: none;
}
