@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'prism-themes/themes/prism-one-dark.css';

@layer base {
  body {
    @apply bg-background;
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .center-1280 {
    @apply mx-auto my-0 px-0 max-w-[1280px];
  }
}
